* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-Neutral1: #ffffff;
  --color-Neutral2: #f1f2f6;
  --color-Neutral3: #d7d7d7;
  --color-Neutral4: #5d5d5d;
  --color-Neutral5: #0f0f0f;
  --color-primary1: #e8eff7;
  --color-primary4: #195fb1;
  --color-primary5: #144c8e;
  --color-Secondary: #e74876;
  --color-Secondary2: #c2d9f3;
  --color-balls1: #a5cdfc;
  --color-balls2: #64a0e7;
  --color-balls3: #6763db;
  --color-balls4: #6d29a8;
  --color-balls5: #e4275a;
}

html {
  font-size: 62.5%;
  padding-top: 7.2rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: #fff;
  font-family: var(--font-inter), var(--font-manrope), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 144.8rem;
  padding: 0 7.2rem;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 3.2rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 1.6rem;
  }
}
